<section>
  {{#each actors}}
    <div class="card">
      <img src={{this.profileImage}} alt="profile image" />
      <div class="card-body">
        <h4><b>{{this.name}}</b></h4>
        <p>{{this.age}}</p>
        <p>{{this.gender}}</p>
        <a href="/actors/{{this._id}}">Actor detail</a>
      </div>
    </div>
  {{/each}}
</section>